{% extends 'admin/base_admin.html' %}

{% block title %}Insert Game{% endblock %}

{% block content %}
    <div class="card col-md-5">
        <form class="card-body" method="POST">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name">
            </div>
            <div class="mb-3">
              <label for="category" class="form-label">Category</label>
              <input type="text" class="form-control" id="category" name="category">
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Price</label>
              <input type="number" class="form-control" id="price" name="price">
            </div>
            <div class="mb-3">
              <label for="released" class="form-label">Released</label><br>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="released" id="released1" value="1">
                  <label class="form-check-label" for="released1">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="released" id="released0" value="0">
                  <label class="form-check-label" for="released0">No</label>
              </div>
            </div>
            <button type="submit" class="btn btn-success w-100">Add Game</button>
        </form>
    </div>
{% endblock %}