{% extends 'admin/base_admin.html' %}

{% block title %}Update Game{% endblock %}

{% block content %}
    <div class="card col-md-5">
        <form class="card-body" method="POST">
          <div class="mb-3">
              <label for="id" class="form-label">Game ID</label>
              <input type="text" class="form-control" id="id" name="id">
          </div>
          <div class="mb-3">
              <label for="price" class="form-label">New Price</label>
              <input type="number" class="form-control" id="price" name="price">
          </div>
          <button type="submit" class="btn btn-primary w-100">Update Game</button>
        </form>
    </div>
{% endblock %}