{% extends 'base.html' %}
{% block content %}
    <div class="text-center">
        {% if results %}
            <h2>Showing results for: {{ query }}</h2>
            <p><b>SQL Query: </b><code>{{ sql_query }}</code></p>

            <table class="table table-bordered mt-2">
                <thead class="table-light">
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                    <tr>
                        <td style="width: 100px;">{{ game[0] }}</td>
                        <td style="width: 100px;">{{ game[1] }}</td>
                        <td style="width: 100px;">£{{ game[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% endif %}
    </div>
{% endblock %}