{% extends 'base_main.html' %}
{% block top %}
    <div class="py-2 mb-3 bg-dark text-center">
        <div class="container">
            <h1 class="mb-2">
                <a href="{{ url_for('home') }}" style="text-decoration:none">
                    <span style="color:red">Game</span><span style="color:white">Store</span>
                </a>
            </h1>

            <div class="row justify-content-center">
                <div class="col-sm-10 col-md-8 col-lg-6">
                    <form class="d-flex justify-content-center" method="GET">
                        <input class="form-control me-2" id="query" name="query" placeholder="Search for a game...">
                        <button class="btn btn-success">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="text-center">
        {% if results %}
            <h2>Showing results for: {{ query }}</h2>
            <p><b>SQL Query: </b><code>{{ sql_query }}</code></p>

            <table class="table table-bordered mt-2">
                <thead class="table-light">
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in games %}
                    <tr>
                        <td style="width: 100px;">{{ game[0] }}</td>
                        <td style="width: 100px;">{{ game[1] }}</td>
                        <td style="width: 100px;">£{{ game[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% endif %}
    </div>
{% endblock %}